<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">


  <Product Id="*"
           Name="$(var.ProductVersionedName)"
           Language="1033"
           Version="$(var.PackageVersion)"
           Manufacturer="$(var.PackageManufacturer)"
           UpgradeCode="$(var.UpgradeGuid)">

    <Package InstallerVersion="300"
             Manufacturer="$(var.PackageManufacturer)"
             Description="$(var.PackageDescription)"
             Comments="$(var.PackageComments)"
             Languages="1033"
             Compressed="yes"
             ShortNames="no"
             SummaryCodepage="1252" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="Calculator.cab" EmbedCab="yes" />

    <Icon Id="calculator.ico" SourceFile="..\LoreSoft.Calculator\Calculator.ico" />

    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="calculator.ico" />
    <Property Id="ARPHELPLINK" Value="$(var.PackageUrl)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.PackageUrl)" />
    <Property Id="ARPURLUPDATEINFO" Value="$(var.PackageUrl)" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="LORESOFT" Name="LoreSoft">
          <Directory Id="INSTALLDIR" Name="Calculator.NET" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" />
      <Directory Id="GlobalAssemblyCache" />
    </Directory>

    <DirectoryRef Id="INSTALLDIR" FileSource="$(var.PackageDir)">
      <Component Id="Calculator.exe" Guid="127F23BD-81D6-49ef-B3F2-859EF7EA801F">
        <File Id="Calculator.exe"
              Name="Calculator.exe"
              Vital="yes"
              KeyPath="yes">
          <Shortcut Id="CalculatorShortcut"
                    Directory="ProgramMenuFolder"
                    Name="Calculator.NET"
                    Advertise="yes"
                    Icon="calculator.ico"
                    Description="Calculator.NET" />
          <netfx:NativeImage Id="CalculatorNativeImage"
                             Platform="all"
                             Priority="1"
                             Dependencies="yes" />
        </File>
      </Component>
      <Component Id="Calculator.exe.config" Guid="E217E35A-50CB-47ac-9F5A-C2984AF38FC4">
        <File Id="Calculator.exe.config"
              Name="Calculator.exe.config" />
      </Component>
      <Component Id="LoreSoft.MathExpressions.dll" Guid="B801C069-2C56-404b-A2A3-B91A297EB49E">
        <File Id="LoreSoft.MathExpressions.dll"
              Name="LoreSoft.MathExpressions.dll"
              Vital="yes">
          <netfx:NativeImage Id="MathExpressionsNativeImage"
                   Platform="all"
                   Priority="1"
                   Dependencies="yes" />
        </File>
      </Component>
      <Component Id="LoreSoft.MathExpressions.XML" Guid="FB7EE3C8-15B6-4749-8EEB-6B11F4257668">
        <File Id="LoreSoft.MathExpressions.XML"
              Name="LoreSoft.MathExpressions.XML" />
      </Component>
      <Component Id="MathExpressions.chm" Guid="97DE7E35-C499-4A01-90A6-DE8953B0F6D5">
        <File Id="MathExpressions.chm"
              Name="MathExpressions.chm" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="ReplaceWindowsCalculator" Guid="6DCD00CB-8D72-4366-811F-C8B7F3929C29">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\calc.exe">
          <RegistryValue Name="Debugger"
                         Value="[INSTALLDIR]Calculator.exe"
                         Type="string"
                         KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- Global Assembly Cache -->
    <DirectoryRef Id="GlobalAssemblyCache" FileSource="$(var.PackageDir)">
      <Component Id="Calculator.exe.gac" Guid="33D4735C-73F5-495F-8780-A43898C18EE7">
        <File Id="Calculator.exe.gac"
              Name="Calculator.exe"
              Assembly=".net"
              KeyPath="yes"
              Vital="yes" />
      </Component>
      <Component Id="LoreSoft.MathExpressions.dll.gac" Guid="088FE10E-0C21-427c-B1F9-7D056BBBE979">
        <File Id="LoreSoft.MathExpressions.dll.gac"
              Name="LoreSoft.MathExpressions.dll"
              Assembly=".net"
              KeyPath="yes"
              Vital="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="BinFeature" Level="1"
             Display="expand"
             AllowAdvertise="no"
             Absent="disallow"
             Title="Calculator.NET"
             ConfigurableDirectory="INSTALLDIR"
             Description="Install Calculator.NET and its components." >

      <ComponentRef Id="Calculator.exe" />
      <ComponentRef Id="Calculator.exe.gac" />
      <ComponentRef Id="Calculator.exe.config" />
      <ComponentRef Id="LoreSoft.MathExpressions.dll" />
      <ComponentRef Id="LoreSoft.MathExpressions.dll.gac" />
      <ComponentRef Id="LoreSoft.MathExpressions.XML" />

      <Feature Id="HelpFeature" Level="1"
               Display="expand"
               Title="Help"
               Description="Install the help file of the math expression API.">
        <ComponentRef Id="MathExpressions.chm" />
      </Feature>

      <Feature Id="ReplaceWindowsCalculator" Level="1"
               Display="expand"
               Title="Default Calculator"
               Description="Override the Windows Calculator by making Calculator.NET the default Calculator.">
        <ComponentRef Id="ReplaceWindowsCalculator" />
      </Feature>

    </Feature>

    <UI>
      <UIRef Id="WixUI_FeatureTree"/>
    </UI>
  </Product>
</Wix>
